<h1>All Instruments</h1>

<% @instruments.each do |instrument| %>
  <h5><%= instrument.name %></h5>
  <h5><%= instrument.on_sale %></h5>
  <h5><%= instrument.brand %></h5>
  <h5><%= instrument.price %></h5>
<%end%>
